<!DOCTYPE html>
<html>
    {% trans_default_domain 'FOSUserBundle' %}

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}OC Projet Service{% endblock %}</title>

        {% block stylesheet %}

            {% stylesheets output="css/compiled/main.css" filter='?yui_css'
                                    'css/bootstrap-theme.min.css'
                                    'css/bootstrap.min.css'
                                    'css/datepicker.css'
                                    'css/global.css'

                             %}
                <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
            {% endstylesheets %}

        {% endblock %}

    </head>

    <body>
        <header>
            {#==================================================#}
            <div class="navbar-wrapper">
                <div class="container">

                    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
                        <div class="container">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href={{path("project_platform_commandpage") }}>Flower Power</a>
                            </div>
                            <div id="navbar" class="navbar-collapse collapse">
                                <ul class="nav navbar-nav">
                                    {% if is_granted("ROLE_PROD") %}
                                        <li class  ="Active"><a href={{  path("project_platform_homepage") }}>Home</a></li>
                                        <li><a href={{  path("project_platform_productionpage") }}>Gestion</a></li>
                                        <li><a href="contact">Favoris</a></li>
                                        <li class="divider"></li>
                                        <li><a href={{  path("fos_user_security_logout") }}>Deconnexion</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">A propos</a></li>
                                    {% elseif is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                        <li class  ="Active"><a href={{  path("project_platform_homepage") }}>Home</a></li>
                                        <li><a href="contact">Favoris</a></li>
                                        <li class="divider"></li>
                                        <li><a href={{  path("fos_user_security_logout") }}>Deconnexion</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">A propos</a></li>
                                    {% else %}
                                        <li class  ="Active"><a href={{  path("project_platform_homepage") }}>Home</a></li>
                                        <li class=login><a>Connection</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">A propos</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            {#==================================================#}
            {% block header %}
            {% endblock %}
        </header>

        {% block body %}

        {% endblock %}


         <footer>

             {% block modal %}

             {% endblock %}

             {% javascripts  output="js/compiled/core.js" filter='yui_js'
                             'js/jquery-2.1.1.min.js'
                             'js/bootstrap.min.js'
                             'js/bootstrap-datepicker.js'
                             'js/npm.js'
                             'js/docs.min.js'
                             'bundles/projectuser/js/authentification.js'
                             'bundles/projectplatform/js/contact.js'


                            %}

                 <script type="text/javascript" src="{{ asset_url }}"></script>
             {% endjavascripts %}
         </footer>
    </body>

</html>