{% stylesheets output="css/compiled/main.css" filter='?yui_css'
'bundles/projectplatform/css/contactForm.css' %}

<link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
{% endstylesheets %}


{{ form_start(contactForm, {'attr': {'class': 'form-horizontal'}}) }}

    {{ form_errors(contactForm) }}

<h3>Ajouter un contact:</h3>

    <div id="formGroup form-horizontal">

        <div class="formField">
            {{ form_errors(contactForm.surname) }}
            <p>{{ form_widget(contactForm.surname, {'attr': {'class': 'input-xlarge input', 'placeholder': "Nom:"} }) }}</p>
        </div>

        <div class="formField">
            {{ form_errors(contactForm.name) }}
            <p>{{ form_widget(contactForm.name, { 'attr': {'class': 'input-xlarge input', 'placeholder': "Prenom:"} }) }}</p>
        </div>

        <div class="formField">
            {{ form_errors(contactForm.adress) }}
            <p>{{ form_widget(contactForm.adress, { 'attr': {'class': 'input-xlarge input', 'placeholder': "Adress:"} }) }}</p>
        </div>

        <div class="formField">
            {{ form_errors(contactForm.city) }}
            <p>{{ form_widget(contactForm.city, { 'attr': {'class': 'input-xlarge input', 'placeholder': "Ville:"} }) }}</p>
        </div>

        <div class="formField">
            {{ form_errors(contactForm.postcode) }}
            <p>{{ form_widget(contactForm.postcode, {'attr': {'class': 'input-xlarge input', 'placeholder': "Code Postal:"} }) }}</p>
        </div>

        <div class="formField">
            {{ form_errors(contactForm.country) }}
            <p>{{ form_widget(contactForm.country, {'id': 'inputCountry', 'attr': {'class': 'input-xlarge input'} }) }}</p>
        </div>

        <div class="formField" >
            {{ form_widget(contactForm.save, {'label':'Ajouter', 'attr': {'class': 'btn btn-primary inputSubmit'}}) }}</p>
        </div>

    </div>

{{ form_end(contactForm) }}

