{% stylesheets output="css/compiled/main.css" filter='?yui_css'
    'bundles/projectplatform/css/contactForm.css' %}

    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
{% endstylesheets %}

    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

        {{ form_errors(form) }}

        <div id="formGroup">


            <div class="formField">
                {{ form_label(form.surname, "Nom", {'label_attr': {'class': 'inputLabel'}}) }}
                {{ form_errors(form.surname) }}
                {{ form_widget(form.surname, {'attr': {'class': 'input'} }) }}
            </div>

            <div class="formField">
                {{ form_label(form.name, "Prénom", {'label_attr': {'class': 'inputLabel'}}) }}
                {{ form_errors(form.name) }}
                {{ form_widget(form.name, { 'attr': {'class': 'input'} }) }}
            </div>

            <div class="formField">
                {{ form_label(form.adress, "Adresse", {'label_attr': {'class': 'inputLabel'}}) }}
                {{ form_errors(form.adress) }}
                {{ form_widget(form.adress, { 'attr': {'class': 'input'} }) }}
            </div>

            <div class="formField">
                {{ form_label(form.city, "Ville", {'label_attr': {'class': 'inputLabel'}}) }}
                {{ form_errors(form.city) }}
                {{ form_widget(form.city, { 'attr': {'class': 'input'} }) }}
            </div>

            <div class="formField">
                {{ form_label(form.postcode, "Code Postal", {'label_attr': {'class': 'inputLabel'}}) }}
                {{ form_errors(form.postcode) }}
                {{ form_widget(form.postcode, {'attr': {'class': 'input'} }) }}
            </div>

            <div class="formField">
                {{ form_label(form.country, "Pays", {'label_attr': {'class': 'inputLabel'}}) }}
                {{ form_errors(form.country) }}
                {{ form_widget(form.country, {'id': 'inputCountry', 'attr': {'class': 'input'} }) }}
            </div>

            <div class="formField" >
                {{ form_widget(form.send,{'attr': {'class': 'inputSubmit'}}) }}
            </div>

        </div>

    {{ form_end(form) }}

