{% extends "ProjectPlatformBundle::layout.html.twig" %}

{% block mainbundle_stylesheet %}
    {{ parent() }}
    {% stylesheets output="css/compiled/main.css" filter='?yui_css'
    'bundles/projectplatform/css/production.css' %}

    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block body %}


    <section class="container">
        <div class="col-xs-18 registerContact">
            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th>Prendre la commande</th>
                    <th>Numeros de commande</th>
                    <th>Prix</th>
                    <th>Adresse de livraison</th>
                    <th>Date de livraison</th>
                    <th>Status de la commande</th>
                </tr>
                </thead>
                <tbody>
                    {% for command in commandList %}
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>{{ command.commandNumber }}</td>
                            <td>{{ command.price }} euros</td>
                            <td>{{ command.contact.name }} {{ command.contact.surname }}
                                {{ command.contact.adress }}
                                {{ command.contact.postcode }} {{ command.contact.city }}
                                {{ command.contact.country }}
                            </td>
                            <td>{{ command.shippingDate |date("d/m/Y")}}</td>
                            <td>
                                <select class="selectpicker" id="commandStatus-List-{{ command.commandNumber }}"
                                        onchange='val("{{ command.commandNumber }}");'>

                                    {% for status in statusCommandList %}
                                        {% if  status.id  == command.status.id %}
                                            <option selected="selected" id="command-status-{{ status.id }}" >{{ status.Name }}</option>
                                         {% elseif status.id >= command.status.id %}
                                            <option id="command-status-{{ status.id }}" >{{ status.Name }}</option>
                                        {% endif %}
                                    {% endfor %}

                                </select>
                            </td>
                        </tr>

                    {% endfor %}
                </tbody>
            </table>
            </div>
    </section>

    <script>

        function val(idList)
        {
            var select = document.getElementById("commandStatus-List-" + idList);
            console.log(select);
            var indexS = select[select.selectedIndex].value;

            alert(indexS);
        }
    </script>
{% endblock %}