{% extends "::templateModal.html.twig" %}

{% block modalContent %}

    {% trans_default_domain 'FOSUserBundle' %}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel"> </h4>
    </div>

    <div class="modal-body">
        <div id="TabModalContent" class="tab-content">
            <li>
                <a class="contactLink">
                    {{ contact.name}}
                    {{ contact.surname}}
                    {{ contact.adress}}
                    {{ contact.postcode}}
                    {{ contact.city}}
                    {{ contact.country}}
                </a>
            </li>
        </div>
    </div>

{% endblock %}
