<link rel="stylesheet" href="{{ asset('bundles/User/css/style.css') }}" type="text/css" media="all" />

<div class="mylogin">
    <form action="{{ path("fos_user_security_check") }}" method="post">


        <input type="text" placeholder="{{ 'security.login.username'|trans }}" name="_username"><br>
        <input type="password" placeholder="{{ 'security.login.password'|trans }}" name="_password"><br>

        <div>
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
        </div>


        <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />

    </form>
</div>